#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 15px;
  border-style: none;
  background-color: blue;
  color: white;
  margin: 0px 5px 5px 5px;
}

.deleteButton {
  background-color: red;
}

.container {
  width: 500px;
}

input {
  margin: 0 0 0 5px;
}

.listItem {
  border-bottom: 2px black solid;
  margin-top: 5px;
  list-style: none;
}
